<!-- <p>clienthome works!</p> -->

<!-- <div class="menu-bar-thick">
    <div class="left-content">
      <h5>Account Number: {{accountNum}}</h5>
    </div>
    <div class="right-content">
    </div>
  </div> -->

  <div class="bank-logo">
    <h1>Bhart Bank</h1>
  </div>
   
  
    <div class="row align-items-start">
      <div class="col">
        <h3>Online Deposite</h3>
        <h6>We are Providing facility for Online Deposite amount.</h6>
      </div>
      <div class="col">
        <h3>Online Transfer Amount</h3>
        <h6>We are Providing Online Transfer amount facility</h6>
      </div>
      <div class="col">
        <h3>Transaction History</h3>
        <h6>You can download and check history any time 24*7</h6>
      </div>
    </div>